<%if current_user.level == '0'%>
<%=form_with model: @user, local: true do |form|%>
<div align="left">Full Name</div>
<div class="form-group">
<%=form.text_field :name, class: 'form-control'%>
</div>
<div align="left">Email</div>
<div class="form-group">
<%=form.text_field :email, class: 'form-control'%>
</div>
<div align="left">Instansi</div>
<div class="form-group">
<%= form.text_field :instansi, class: 'form-control'%>
</div>
<div align="left">Minat</div>
<div class="form-group">
<%=form.select :minat, options_for_select([["Product Manager","Product Manager"],[" Quality Assurance"," Quality Assurance"],["Design UI/UX","UI/UX"],["Web Develop","Web Develop"],["Mobile Develop","Mobile Develop"]]), class: 'form-control'%>
</div>
<div align="left">Level</div>
<div class="form-group">
	<%=form.select :level, options_for_select([["Admin","0"],["User","1"]]) , class: 'form-control'%>
</div>
<div align="left">Image</div>
<div class="form-group">
<%=form.file_field :image%>
</div>
<div align="right">
<%=form.submit%>
</div>
<%end%>
<%else%>
<%=form_with model: @user, local: true do |form|%>
<div align="left">Full Name</div>
<div class="form-group">
<%=form.text_field :name, class: 'form-control'%>
</div>
<div align="left">Instansi</div>
<div class="form-group">
<%= form.text_field :instansi, class: 'form-control'%>
</div>
<div align="left">Minat</div>
<div class="form-group">
<%=form.select :minat, options_for_select([["Product Manager","Product Manager"],[" Quality Assurance"," Quality Assurance"],["Design UI/UX","UI/UX"],["Web Develop","Web Develop"],["Mobile Develop","Mobile Develop"]]), class: 'form-control'%>
</div>
<div align="left">Image</div>
<div class="form-group">
<%=form.file_field :image%>
</div>
<div align="right">
<%=form.submit%>
</div>
<%end%>
<%end%>