<%=form_with model: @user, local: true do |form|%>
<div align="left">Full Name</div>
<div class="form-group">
<%=form.label :name, class: 'form-control'%>
</div>
<div align="left">Email</div>
<div class="form-group">
<%=form.text_field :email, class: 'form-control'%>
</div>
<div align="left">Password</div> 
<div class="form-group">
<%=form.password_field :password, class: 'form-control'%>
</div>
<div align="left">Instansi</div>
<div class="form-group">
<%= form.text_field :instansi, class: 'form-control'%>
</div>
<div align="left">Minat</div>
<div class="form-group">
<%=form.text_field :minat, class: 'form-control'%>
</div>
<div align="left">Image</div>
<div class="form-group">
<%=form.file_field :image%>
</div>
<div align="right">
<%=form.submit%>
</div>
<%end%>