
<div class="navbar navbar-expand-lg navbar-dark" style="background-color: #cc0000">
  <div class="navbar-brand" id="bor"><%= image_tag("logo.png", width:"80px")%></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse"  id="navbarSupportedContent" align="center">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" id="jk" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" ><center>Upcoming</center></a>
          <a class="dropdown-item" href="#"><center>Resent</center></a>
        </div>
      </li>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item ">
      
     
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign in/Sign up
        </a>
     <div class="dropdown-menu dropdown-menu-right">
            <div class="px-4 py-3">
              <%=form_with url: login_path do |a| %>
                Email
                <div class="form-group">
                  <%= a.text_field :email, class: 'form-control' %>
                </div>
                Password
                <div class="form-group">
                  <%= a.password_field :password, class: 'form-control'%>
                </div>
                <input type="text" data-provide='datepicker'>
                <%= date_field :date, class: 'datepicker'%>
                <%= time_field :time, class: 'timepicker'%>
                <br>
      <div class='input-append bootstrap-timepicker-component' style='display: inline;'>
  <input class='dateselect-time input-small' type='text' data-time='12:45 PM'>
  <span class='add-on'><i class='icon-time'></i></span>
</div>  
                <div class="form-group">
                  <%= submit_tag%>
                </div>
              <%end%>         
            </div>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" >New around here?<a type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target="#exampleModalCenter">Sign up</a></a>
      </div> 
              <div class="modal fade" style="display: none; " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=form_for :user, url: '/users' do |f|%>
        <div align="left">Full Name</div>
        <div class="form-group">
        <%=f.text_field :name, class: 'form-control'%>
        </div>
        <div align="left">Email</div>
        <div class="form-group">
        <%=f.text_field :email, class: 'form-control'%>
        </div>
        <div align="left">Password</div> 
        <div class="form-group">
        <%=f.password_field :password, class: 'form-control'%>
        </div>
        <div align="left">Password Confirmation</div>
        <div class="form-group">
        <%=f.password_field :password_confirmation, class: 'form-control'%>
        </div>
        <div class="form-group">
        <%=f.file_field :file%>
        </div>
        <div align="right">
        <%=f.submit"Daftar"%>
        </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
    </li>
  </ul>
</div>
</div>
