<%=render 'link1'%>

<!-- badan -->
<div class="row jarak">
<div class="col-md-12">
		<div class="card" id="jar">
			<div class="card-header" align="center" style="height: 50px"><h2 class="pro">Profil</h2></div>
				<div class="card-body bg-secondary">
					<div align="center">
					<div id="carouselExampleIndicators" class="carousel slide justify-content-center" data-ride="carousel" align="center" style="width: 80%" style="height: 100%">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
	  				<div id="jar">
						<h3 align="left">Upcoming Events</h3>
						
	  						<div class="row" id="bw">
	  							<div class="col-md-6">
	  								<div class="card" id="jar">
									<div class="card-header" align="center" style="height: 50px"><h3 align="left">Judul</h3></div>
										<div class="card-body bg-secondary">
											Foto 
											Tanggal
											Pemateri
									</div>
									</div>
	  							</div>
	  							<div class="col-md-6">
	  								<div class="card" id="jar">
									<div class="card-header" align="center" style="height: 50px"><h3 align="left">Judul</h3></div>
										<div class="card-body bg-secondary">
											Foto 
											Tanggal
											Pemateri
									</div>
									</div>
	  							</div>
	  						</div>

	  					
					</div>

					<div id="jar">
						<h3 align="left">Recent Events</h3>
	  						<div class="row"  id="bw">
	  							<div class="col-md-6">
	  								<div class="card" id="jar">
									<div class="card-header" align="center" style="height: 50px"><h3 align="left">Judul</h3></div>
										<div class="card-body bg-secondary">
											Foto 
											Tanggal
											Pemateri
									</div>
									</div>
	  							</div>
	  							<div class="col-md-6">
	  								<div class="card" id="jar">
									<div class="card-header" align="center" style="height: 50px"><h3 align="left">Judul</h3></div>
										<div class="card-body bg-secondary">
											Foto 
											Tanggal
											Pemateri
									</div>
									</div>
	  							</div>
	  						</div>

					</div>

					<div id="jar">
						<h3>About Us</h3>
						KomoDev adalah sebuah komunitas yang dapat membantu para penggiat IT yang memiliki tujuan untuk membangun dan memajukan potensi IT di Nusa Tenggara Timur. Didirikan dengan nama awal Kupang Programmers Community pada tanggal 04 Agustus 2018, dan berubah nama menjadi KomoDev pada tanggal 18 Agustus 2018.
					</div>
	  			</div>
		</div>

</div>
</div>

<%=render 'foot'%>