<%=form_tag '/login' do%>
            Email
            <div class="form-group">
            <%=text_field_tag :email %>
            </div>
            Password
            <div class="form-group">
            <%= password_field_tag :password%>
            </div>
            <div class="form-group">
            <%= submit_tag%>
             </div>
            <%end%>

             <%if current_user%>
      Signed in as <%= current_user.name%>|<%=link_to "Logout",'/logout'%>
      <%else%>
      <%=link_to 'Login','/login'%>|<%=link_to 'Sign Up','signup'%>
      <%end%>