/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 */
@import "bootstrap";


.hub{
	background:#000055;
	border-radius:5px;
	margin-top:10px;
	box-shadow: -4px 4px 4px -4px rgba(0, 0, 0, 0.702);	
}

#jk{
	margin-left:500px;
}

#bw{
	margin-top:-20px;
}

.kiri{
	margin-left:620px;
}

#jar{
	margin-top:20px;
}

#jara{
	margin-top:35px;
}

.bottom{
	padding-top:15px;
}

.modal-backdrop{
  bottom: 4;
}

.navbar{
	border-radius:5px;
}

.card-body{
	border-radius:5px;
}

.pro{
	margin-top:-8px;
}

.form-group{
	width:100%;
}

.img-circle{
	width:100px;
	height:100px;
	border:1px;
	border-color:white;
	border-radius:100px;
}

.img-circle1{
	width:65px;
	height:65px;
	border:1px;
	border-color:white;
	border-radius:65px;
}
